.formControl {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Arial", sans-serif;
}


@media (max-width: 768px) {
  .formControl {
    margin-bottom: 1em;
  }

  label {
    font-size: 1em;
  }

  select,
  input {
    font-size: 0.95em;
  }
}
