.formControl {
  display: flex;
  flex-direction: column;
  
 }

.formControl label {
  margin-bottom: 0.6em;
  font-weight: bold;
  font-size: 1.2rem; 
  color: #333; 
  padding: 10px;
}

.formControl input,
.formControl select {
  padding: 0.7em;
  border-radius: 4px; 
  border: 1px solid #ccc;
  font-size: 1rem;
  outline: none; 
  transition: border-color 0.3s ease; 
}

.formControl input:focus,
.formControl select:focus {
  border-color: #aeb1b2; 
}


