.btn{
  background-color: #222;
  color: #FFF;
  padding: 1em;
  text-decoration: none;
  transition: 1em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}

.btn:hover{
  color: #ffbb33;
}

