.actionButtonContainer {
  display: flex;
  gap: 1em; /* Espaçamento entre os botões */
  justify-content: center; /* Centraliza os botões */
  align-items: center; /* Alinha verticalmente no centro */
  margin: 0.5em 0; /* Margem entre os botões */
}

.button {
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
  font-size: 1.1em;
  padding: 0.6em;
  border-radius: 6px;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.editButton {
  background-color: #d9edf7;
  color: #31708f;
}

.deleteButton {
  background-color: #ffcccb;
  color: #b94e49;
}

.button:hover {
  background-color: #f2f2f2; /* Cor de fundo ao passar o mouse */
  color: #333;
}
