.navBar{
  display: flex;
  justify-content: space-around;
  background-color: #222;
}

.list {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.item{
  margin-right: 1em;
}

.item a{
  color: #FFF;
  text-decoration: none;
}

.item a:hover{
  color: #FFBB33;
  text-decoration: none;
  transition: color 0.3s;
}

.logo{
  width: 50px;
  padding: 20px
}

@media (min-width: 768px) {
  .logo{
    display: none;
  }
  .navBar {
    flex-direction: column;
 
    padding: 0.5em;
  }

  .list {
    flex-direction: row; 
    align-items: center;
  }

  .item {
    margin: 0 1em; 
  }
}