.homeContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4em;
  background-color: #eee9e9;
  box-sizing: border-box; 
}

.homeContainer h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
  text-align: center; 
}

.homeContainer span {
  color: #ffbb33;
  padding: 0 0.2em;
  background-color: #222;
  border-radius: 3px;
}

.homeContainer p {
  margin-bottom: 1.5em;
  color: #7b7b7b;
  text-align: center; 
  font-size: 1.2em;
}

.homeContainer img {
  width: 100%; 
  max-width: 350px; 
  height: auto; 
  margin: 2em 0;
}


@media (max-width: 1024px) {
  .homeContainer {
    padding: 3em; 
  }

  .homeContainer h1 {
    font-size: 2.2em; 
  }

  .homeContainer img {
    max-width: 300px; 
  }
}


@media (max-width: 768px) {
  .homeContainer {
    padding: 2em; 
  }

  .homeContainer h1 {
    font-size: 1.8em; 
  }

  .homeContainer img {
    max-width: 250px; 
  }

  .homeContainer p {
    font-size: 1em; 
  }
}


@media (max-width: 480px) {
  .homeContainer {
    padding: 1em; 
  }

  .homeContainer h1 {
    font-size: 1.5em; 
  }

  .homeContainer img {
    max-width: 200px; 
  }

  .homeContainer p {
    font-size: 0.9em;
  }
}
