.projectCard {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 2em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: all 0.3s ease;
  font-family: "Arial", sans-serif;
  width: 100%; /* Mudança para ser 100% da largura por padrão */
  max-width: 500px; /* Limita a largura máxima */
  box-sizing: border-box;
}

.projectCard:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  transform: translateY(-8px);
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1.5em;
  align-items: center;
}

.header h4 {
  font-size: 1.3em;
  font-weight: 600;
  background-color: #222;
  color: #ffbb33;
  width: 100%;
  margin: 0;
  text-align: center;
  font-family: "Times New Roman", serif;
  padding: 10px;
}

.actions {
  display: flex;
  gap: 1em;
  font-size: 0.9em;
  align-items: center;
  justify-content: flex-end;
}

.icon {
  font-size: 1.6em;
  cursor: pointer;
  color: #007bff;
  transition: color 0.3s ease;
}

.icon:hover {
  color: #0056b3;
}

.budgetSection {
  margin-bottom: 2em;
  width: 100%;
}

.categoryText {
  font-size: 1.1em;
  margin: 0;
  color: #777;
  font-weight: 500;
}

.budgetSection select {
  padding: 0.5em 1em;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 1em;
  width: 100%;
  font-family: "Arial", sans-serif;
  background-color: #f9f9f9;
  transition: all 0.3s ease;
}

.budgetSection select:hover {
  border-color: #007bff;
  background-color: #eef2f7;
}

.budgetSection select:focus {
  outline: none;
  border-color: #0056b3;
  background-color: #e4eaf1;
}

/* Responsividade */
@media (max-width: 768px) {
  .projectCard {
    padding: 1.5em;
    width: 100%; /* Vai ocupar toda a largura disponível em dispositivos menores */
    max-width: 100%; /* Impede que ultrapasse o limite da tela */
  }

  .header h4 {
    font-size: 1.2em;
    padding: 8px;
  }

  .actions {
    gap: 0.5em;
    font-size: 0.85em;
  }

  .icon {
    font-size: 1.4em;
  }

  .categoryText {
    font-size: 1em;
  }

  .budgetSection select {
    padding: 0.4em 0.8em;
    font-size: 0.9em;
  }
}
