.projectCard {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 2.5em;
  margin-bottom: 2.5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: all 0.3s ease;
  font-family: "Arial", sans-serif;
}

.projectCard:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  transform: translateY(-8px);
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1.5em;
  align-items: center;
}

.header h4 {
  font-size: 1.3em;
  font-weight: 600;
  color: #333;
  margin: 0;
  font-family: "Times New Roman", serif;
}

.actions {
  display: flex;
  gap: 1.5em;
  align-items: center;
}

.icon {
  font-size: 1.6em;
  cursor: pointer;
  color: #007bff;
  transition: color 0.3s ease;
}

.icon:hover {
  color: #0056b3;
}

.budgetSection {
  margin-bottom: 2em;
  width: 100%;
}

.categoryText {
  font-size: 1em;
  color: #777;
  font-weight: 500;
}

.orcamentoId {
  font-size: 1em;
  color: #333;
  font-weight: 500;
}

.defaultCategory {
  background-color: #e0e0e0;
  padding: 0.3em 0.8em;
  border-radius: 10px;
  font-size: 1em;
}
