.projectContainer {
  width: 600px;
  margin: 60px auto;
  padding: 40px;
  background: #ffffff; /* Fundo branco */
  color: #333;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  animation: moveBackground 10s infinite linear; /* Animação de movimento do fundo */
}

/* Animação de movimento do fundo */
@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0 0;
  }
}

.projectTitle {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  color: transparent;
  background: linear-gradient(45deg, #ffbb33, #dbd9d4);
  background-clip: text;
  padding: 15px;
  background-color: #222;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  display: inline-block;
  width: 100%;
}

.projectTitle:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.projectDescription {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projectDescription:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.projectDescription span {
  font-weight: 600;
  color: #333;
}

.projectDescription .icon {
  margin-left: 10px;
  color: #888;
  font-size: 1.3rem;
  transition: color 0.3s ease;
}

.projectDescription:hover .icon {
  color: #ffbb33; 
}

button {
  font-family: "Times New Roman", serif;
  background: linear-gradient(45deg, #ffbb33, #ff7f50);
  color: #fff;
  padding: 14px 15px;
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
  width: 100%;
  border: none;
  transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  margin-top: 30px;
  text-transform: uppercase;
  display: inline-block;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  margin: auto;
}

button:hover {
  background: linear-gradient(45deg, #ff7f50, #ffbb33);
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

button:active {
  transform: translateY(1px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.projectFormContainer {
  margin-top: 40px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  color: #333;
}

.projectFormContainer input,
.projectFormContainer select {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  color: #333;
  font-size: 1.1rem;
  transition: background-color 0.3s ease, border 0.3s ease;
}

.projectFormContainer input:focus,
.projectFormContainer select:focus {
  background-color: #f1f1f1;
  border-color: #333;
  outline: none;
}

.loadingMessage {
  font-size: 1.5rem;
  color: #888;
  text-align: center;
  margin-top: 30px;
  animation: fadeIn 1.5s ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
