/* Estilos para o container geral de projetos */
.projectsContainer {
  padding: 2em;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #f4f6f7;
}

/* Estilo do container do título */
.titleContainer {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 4em;
  gap: 1em;
  flex-wrap: wrap;
}

/* Centralizando o texto dentro do container */
.tittlesCenter {
  text-align: center;
  margin: auto;
}

/* Estilo do título principal (h1) */
.titleContainer h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
  color: #ffbb33;
  font-weight: bold;
  font-style: italic;
  margin: 0;
  padding-top: 10px;
}

/* Estilo do subtítulo (h2) */
.titleContainer h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
  color: #333;
  margin-top: 10px;
  font-weight: normal;
  line-height: 1.4;
  text-align: center;
}

/* Estilo do formulário de criação de projeto */
.projectsCreate {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

/* Estilos responsivos para telas menores */
@media (max-width: 768px) {
  .projectsCreate {
    width: 90%;
  }

  .titleContainer {
    flex-direction: column;
    text-align: center;
  }
}
